name: pytest

on:
    pull_request:
        branches:
            - main
              develop

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: pytest
        uses: dariocurr/pytest-summary@main